.other-news
  max-width: 1600px
  width: 100%
  margin-right: auto
  margin-left: auto
  padding-top: 70px
  padding-bottom: 60px
  padding-left: 230px
  background: radial-gradient(33.48% 102.92% at 86.46% 119.42%, #C300FF 0%, rgba(214, 0, 255, 0) 80.54%), linear-gradient(228deg, #9900FF 5.24%, #9900FF 9.67%, #9800FD 14.09%, #9501F9 18.52%, #9003F0 22.94%, #8805E1 27.37%, #7C09CD 31.79%, #6C0CB0 36.22%, #570F8D 40.64%, #43106B 45.07%, #350F54 49.5%, #2B0E43 53.92%, #250D39 58.35%, #210C33 62.77%, #1F0B2F 67.2%, #1E0B2E 71.62%, #1E0B2E 76.05%)

  @media (max-width: 1439px)
    padding-left: 115px

  @media (max-width: 1279px)
    padding-left: 8px
    padding-left: 8px

  .article-thumb
    &__name
      color: #fff

  &__wrapper
    display: flex

    @media (max-width: 1279px)
      flex-direction: column
      align-items: center

  &__head
    flex: 0 0 390px
    width: 390px
    max-width: 390px
    margin-right: 20px

    @media (max-width: 1279px)
      flex: none
      width: 100%
      max-width: 100%
      text-align: center
      padding-right: 16px
      padding-left: 16px
      margin-bottom: 25px
      margin-right: 0

  &__special-title
    margin-bottom: 15px

    img
      vertical-align: top

  &__title
    font-size: 42px
    color: #fff
    font-weight: 500
    line-height: 1.2
    text-transform: uppercase
    margin-bottom: 25px

    @media (max-width: 1279px)
      max-width: 900px
      width: 100%
      margin-right: auto
      margin-left: auto

    @media (max-width: 767px)
      font-size: 28px

    @media (max-width: 374px)
      font-size: 24px

  &__container
    max-width: 1065px
    width: 100%

    @media (min-width: 1280px)
      padding-left: 30px !important

    .swiper-button-prev, .swiper-button-next
      height: 48px
      margin-top: -110px

      @media (max-width: 479px)
        margin-top: -110px

      &:hover
        &:after
          background-image: url("data:image/svg+xml,%3Csvg width='26' height='49' viewBox='0 0 26 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 2L3 24.5L24 47' stroke='%231E0B2E' stroke-width='4'/%3E%3C/svg%3E%0A")

          @media (max-width: 767px)
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='31' viewBox='0 0 16 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1.5L1.93333 15.5L15 29.5' stroke='%231E0B2E' stroke-width='2'/%3E%3C/svg%3E%0A")

      &:after
        content: ''
        width: 26px
        height: 48px
        background-repeat: no-repeat
        background-position: 0 0
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='49' viewBox='0 0 26 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 2L3 24.5L24 47' stroke='white' stroke-width='4'/%3E%3C/svg%3E%0A")
        transition: background 0.3s, ease 0.3s

        @media (max-width: 767px)
          width: 28px
          height: 31px
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='31' viewBox='0 0 16 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1.5L1.93333 15.5L15 29.5' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A")

    .swiper-button-prev
      left: 0

      @media (max-width: 479px)
        left: 8px

      @media (max-width: 374px)
        left: 2px

      

    .swiper-button-next
      right: 170px

      @media (max-width: 1599px)
        right: 120px

      @media (max-width: 1279px)
        right: 0

      @media (max-width: 374px)
        right: 2px

      &:after
        transform: rotate(180deg)

    .swiper-pagination
      bottom: 0 !important

    .swiper-pagination-bullet
      width: 6px
      height: 6px
      background-color: #D3CED6
      border-radius: 4px
      margin-right: 12px !important
      margin-left: 0 !important
      opacity: 1
      transition: width 0.3s, ease 0.3s

      &:last-child
        margin-right: 0 !important

      &.swiper-pagination-bullet-active
        width: 96px

  &__item
    @media (min-width: 1280px)
      opacity: 0.2
      pointer-events: none
      transition: opacity 0.3s, ease 0.3s

    @media (max-width: 1023px)
      display: flex
      justify-content: center

    &.swiper-slide-active, &.swiper-slide-next, &.swiper-slide-duplicate-active, &.swiper-slide-duplicate-next
      @media (min-width: 1280px)
        opacity: 1
        pointer-events: all
        transition: opacity 1s

    .article-thumb
      &:hover
        .article-thumb__name
          color: #fff

          &:before
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='89' viewBox='0 0 8 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.70297 1C2.97927 14.9237 1 29.5016 1 44.5C1 59.4984 2.97927 74.0607 6.70297 88' stroke='white' stroke-width='1.5' stroke-miterlimit='10'/%3E%3C/svg%3E%0A")

          &:after
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='89' viewBox='0 0 8 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.15228 1C4.9705 14.9237 7 29.5016 7 44.5C7 59.4984 4.9705 74.0607 1.15228 88' stroke='white' stroke-width='1.5' stroke-miterlimit='10'/%3E%3C/svg%3E%0A")
