.top-line
  position: relative

  &__main-bar
    padding-top: 8px
    padding-bottom: 8px
    background-color: #FBF7FC
    position: relative
    z-index: 2
    height: 64px

    .search-panel
      position: absolute
      top: 0
      left: 0
      width: 100%
      z-index: 10
      padding-top: 5px
      padding-bottom: 5px
      background-color: #FBF7FC
      opacity: 0
      visibility: hidden
      transition: opacity 0.3s, ease 0.3s

      @media (max-width: 1360px)
        padding-right: 50px

      &._is-show
        opacity: 1
        visibility: visible

        .search-panel__field
          width: 100%

      &__field
        width: 0

  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%

    &.contain
      padding-right: 20px
      padding-left: 20px

  &__button-search
    display: flex
    align-items: center
    flex: 0 0 26px
    width: 26px
    max-width: 26px
    height: 26px
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7782 19.7782C24.0739 15.4824 24.0739 8.51759 19.7782 4.22183C15.4824 -0.0739419 8.51759 -0.0739419 4.22183 4.22183C-0.0739419 8.51759 -0.0739419 15.4824 4.22183 19.7782C8.51759 24.0739 15.4824 24.0739 19.7782 19.7782ZM19.7782 19.7782L27 27' stroke='%231E0B2E' stroke-width='2'/%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    background-position: 0 0
    background-size: contain
    transition: background 0.3s, ease 0.3s

    &:hover
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7782 19.7782C24.0739 15.4824 24.0739 8.51759 19.7782 4.22183C15.4824 -0.0739419 8.51759 -0.0739419 4.22183 4.22183C-0.0739419 8.51759 -0.0739419 15.4824 4.22183 19.7782C8.51759 24.0739 15.4824 24.0739 19.7782 19.7782ZM19.7782 19.7782L27 27' stroke='%239900FF' stroke-width='2'/%3E%3C/svg%3E%0A")

  &__button-burger
    flex: 0 0 32px
    width: 32px
    max-width: 32px
    height: 32px
    background-color: transparent
    border: none
    outline: none !important
    position: relative
    cursor: pointer

    &:hover
      &:before, &:after
        background-color: #9900FF

    &:before, &:after
      content: ''
      position: absolute
      width: 24px
      height: 2px
      left: 50%
      transform: translateX(-50%)
      background-color: #1E0B2E
      transition: transform 0.3s, background 0.3s, ease 0.3s

    &:before
      top: 10px

    &:after
      bottom: 10px

    &._is-active
      &:before
        top: 14px
        transform: translateX(-50%) rotate(-45deg)

      &:after
        bottom: 16px
        transform: translateX(-50%) rotate(45deg)

  &__links
    display: flex
    align-items: center

    a
      font-size: 15px
      color: #1E0B2E
      font-weight: 500
      line-height: 1
      letter-spacing: 0.5px
      text-decoration: none
      display: block
      padding-top: 10px
      padding-bottom: 12px
      display: flex
      align-items: center
      margin-right: 50px

      @media (max-width: 1023px)
        margin-right: 20px

      span
        margin-right: 5px

      .svg-icon
        stroke: #1E0B2E
        fill: #1E0B2E

      &:last-child
        margin-right: 0

  &__nav-bar
    border-bottom: 1px solid #ECE4F0
    position: relative
    z-index: 1

    @media (max-width: 767px)
      display: none
