$system-font = unquote('"ONYForm", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"')
$additional-font = unquote('"ONYSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"')
$text-font = unquote('"ONYSerif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"')

$colors = {
  theme: #1F1A1A,
  accent: #8B00FD,
}

$fonts = {
  base: $system-font,
  headings: $system-font
}

$body = {
  fontFamily: $fonts.base,
  fontSize: 1rem,
  fontWeight: 400,
  lineHeight: 1.5,
  color: #1E0B2E,
  bgc: #fff
}

$selection = {
  bgc: $colors.theme,
  color: #fff
}

$selectionHeadings = {
  bgc: $colors.accent,
  color: #000
}

$placeholders = {
  normal : getColor($body.color, 'hint'),
  focus  : transparent
}
