@font-face {
  font-family: "ONYForm";
  src: 
    url("../fonts/ONYForm-Medium.otf") format("opentype");
    url("../fonts/ONYForm-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ONYSans";
  src: 
    url("../fonts/ONYSans-Book.otf") format("opentype");
    url('../fonts/ONYSans-Normal.woff2') format('woff2')
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ONYSerif";
  src: 
    url("../fonts/ONY-Serif-Regular.otf") format("opentype");
    url('../fonts/ONY-Serif-Regular.woff2') format('woff2')
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}