.other-podcasts
  padding-top: 50px
  padding-bottom: 90px

  @media (max-width: 1279px)
    padding-top: 0
    padding-bottom: 60px

  &._is-visible
    & ^[0]
      &__title
        letter-spacing: 50px

        &:before, &:after
          opacity: 0

  &__head
    text-align: center
    background-color: #fff
    width: 100%
    padding-top: 20px
    padding-bottom: 10px
    margin-bottom: 50px

    @media (min-width: 1280px)
      position: sticky
      top: 0
      z-index: 50

  &__title
    line-height: 1.5
    position: relative
    display: inline-block
    vertical-align: top
    padding-right: 10px
    padding-left: 10px
    margin-bottom: 0
    transition: letter-spacing 1s, ease-in 1s

    @media (max-width: 1023px)
      letter-spacing: 5px
      padding-left: 10px

    &:before, &:after
      content: ''
      position: absolute
      top: 50%
      width: 8px
      height: 50px
      transform: translateY(-50%)
      background-repeat: no-repeat
      background-position: 0 0
      background-size: contain
      transition: opacity 1.5s, left 1.5s, right 1.5s, ease 1.5s

      @media (max-width: 1023px)
        display: none

    &:before
      left: 0
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='89' viewBox='0 0 8 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.70297 1C2.97927 14.9237 1 29.5016 1 44.5C1 59.4984 2.97927 74.0607 6.70297 88' stroke='%239900FF' stroke-width='1.5' stroke-miterlimit='10'/%3E%3C/svg%3E%0A")

    &:after
      right: 0
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='89' viewBox='0 0 8 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.15228 1C4.9705 14.9237 7 29.5016 7 44.5C7 59.4984 4.9705 74.0607 1.15228 88' stroke='%239900FF' stroke-width='1.5' stroke-miterlimit='10'/%3E%3C/svg%3E%0A")

  &__items
    max-width: 1040px
    width: 100%
    margin-right: auto
    margin-left: auto

    @media (max-width: 1023px)
      padding-right: 8px
      padding-left: 8px

  &__item
    margin-bottom: 45px

  &__bottom
    display: flex
    justify-content: center

  &__button-more
    width: 100%
    max-width: 955px
    min-width: auto
    display: flex
    justify-content: center
    align-items: center

    &:before
      content: ''
      flex: 0 0 16px
      width: 16px
      max-width: 16px
      height: 9px
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 1L8 7.5L1.5 1' stroke='%231E0B2E' stroke-width='2'/%3E%3C/svg%3E%0A")
      background-repeat: no-repeat
      background-position: 0 0
      order: 1
      margin-left: 10px
      transition: background 0.3s, ease 0.3s
      position: relative
      z-index: 1

    &:after
      transform-origin: center

    &:hover
      &:before
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 1L8 7.5L1.5 1' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A")

      &:after
        transform: scale(7) translate(-8%, -8%)