.first-screen
  padding-top: 30px
  padding-bottom: 30px
  border-bottom: 1px solid #ECE4F0
  transition: padding 0.3s, ease 0.3s

  @media (max-width: 1232px)
    padding-top: 0

  @media (max-width: 767px)
    padding-bottom: 0