.logo
  &__img
    max-width: 260px
    width: 100%
    display: block

    @media (max-width: 767px)
      max-width: 230px

    @media (max-width: 374px)
      max-width: 200px  

    img
      vertical-align: top