.search-panel
  width: 100%

  &__field
    display: flex
    align-items: center
    background-color: #F5F0F6
    border-radius: 27px
    width: 100%
    transition: width 0.3s, ease 0.3s

    @media (max-width: 1023px)
      padding-right: 20px

  &__input
    width: 100%

    input
      font-size: 15px
      color: #857B8A
      font-weight: 500
      line-height: 1.1
      letter-spacing: 0.5px
      width: 100%
      height: 54px
      padding-right: 20px
      padding-left: 25px
      border: none
      background-color: transparent
      outline: none

    ::placeholder
      font-size: 15px
      color: #857B8A
      font-weight: 500
      line-height: 1.1
      letter-spacing: 0.01em

  &__button-submit
    width: 150px
    min-width: auto
    display: flex
    align-items: center

    @media (max-width: 1023px)
      width: 30px
      border: none

    span
      padding-top: 2px
      margin-right: 15px

      @media (max-width: 1023px)
        display: none

    &:before
      content: ''
      flex: 0 0 20px
      width: 20px
      max-width: 20px
      height: 20px
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0003 14.0003C16.9743 11.0263 16.9743 6.20449 14.0003 3.23049C11.0263 0.256502 6.20449 0.256502 3.23049 3.23049C0.256502 6.20449 0.256502 11.0263 3.23049 14.0003C6.20449 16.9743 11.0263 16.9743 14.0003 14.0003ZM14.0003 14.0003L19 19' stroke='%231E0B2E' stroke-width='2'/%3E%3C/svg%3E%0A")
      background-repeat: no-repeat
      background-size: contain
      background-position: 0 0
      order: 1
      position: relative
      z-index: 2
      transition: background 0.3s, ease 0.3s

    &:hover
      &:before
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0003 14.0003C16.9743 11.0263 16.9743 6.20449 14.0003 3.23049C11.0263 0.256502 6.20449 0.256502 3.23049 3.23049C0.256502 6.20449 0.256502 11.0263 3.23049 14.0003C6.20449 16.9743 11.0263 16.9743 14.0003 14.0003ZM14.0003 14.0003L19 19' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A")

  &__button-close
    position: absolute
    top: 50%
    right: 15px
    transform: translateY(-50%)
    width: 32px
    height: 32px
    border: none
    padding: 0
    outline: none !important
    background-color: transparent
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.51465 24.4854L24.4852 7.51479' stroke='%231E0B2E' stroke-width='2'/%3E%3Cpath d='M7.51465 7.51465L24.4852 24.4852' stroke='%231E0B2E' stroke-width='2'/%3E%3C/svg%3E%0A")
    cursor: pointer
    transition: background 0.3s, ease 0.3s

    &:hover
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.51465 24.4854L24.4852 7.51479' stroke='%238B00FD' stroke-width='2'/%3E%3Cpath d='M7.51465 7.51465L24.4852 24.4852' stroke='%238B00FD' stroke-width='2'/%3E%3C/svg%3E%0A")