= yaml =
pageTitle: Ошибка 404 - Страница не найдена
bodyClasses: error404
layout: !!map
  header: true
  footer: true
  left: false
  right: false
= yaml =

{% extends 'app.html' %}

{% block inlineStyles %}
<style>
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 10px;
	}

	p {
		margin: 0 0 20px;
	}

	.container-404 {
		width: 100%;
		max-width: 1100px;
		margin: 0 auto;
		text-align: center;
		padding-top: 100px;
		padding-bottom: 100px;
		padding-right: 20px;
		padding-left: 20px;
	}

	.container-404 h1 {
		font-size: 42px;
		color: #1E0B2E;
		line-height: 1.2;
		text-align: center;
		text-transform: uppercase;
	}

	.container-404 p {
		max-width: 550px;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	.container-404 a {
		font-size: 20px;
		color: #9900FF;
		text-decoration: none;
		border-bottom: 2px solid #9900FF;
		transition: border-color 0.3s, ease 0.3s;
	}

	.container-404 a:hover {
		border-color: transparent
	}

	.wrapper-404 {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		width: 100%;
		margin-bottom: 70px;
	}

	.wrapper-404 span {
		font-family: "ONYSerif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		font-style: normal;
		font-weight: 400;
		font-size: 400px;
		line-height: 1;
		text-align: center;
		color: #1E0B2E;
		flex: 0 0 240px;
		width: 240px;
		max-width: 240px;
	}

	.wrapper-404 figure {
		flex: 0 0 320px;
		width: 320px;
		max-width: 320px;
		height: 320px;
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 15px;
		margin-left: 15px;
	}

	.wrapper-404 figure svg {
		max-width: 100%;
		height: auto;
	}

	@media (max-width: 1599px) {
		.container-404 {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}

	@media (max-width: 959px) {
	
		.wrapper-404 span {
			font-size: 200px;
			flex: 0 0 115px;
			width: 115px;
			max-width: 115px;
		}

		.wrapper-404 figure {
			flex: 0 0 160px;
			width: 160px;
			max-width: 160px;
			height: 160px;
			margin-right: 5px;
			margin-left: 5px;
		}
	}
	@media (max-width: 439px) {

		.container-404 h1 {
			font-size: 30px;
		}

		.wrapper-404 {
			margin-bottom: 35px;
		}

		.wrapper-404 span {
			font-size: 100px;
			flex: 0 0 60px;
			width: 60px;
			max-width: 60px;
		}

		.wrapper-404 figure {
			flex: 0 0 80px;
			width: 80px;
			max-width: 80px;
			height: 80px;
		}
	}
</style>
{% endblock %}

{% block main %}

<div class="container">
	<div class="container-404">
		<div class="wrapper-404">
			<span>4</span>
			<figure>
				<svg width="326" height="327" viewBox="0 0 326 327" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M163 326.75C253.022 326.75 326 253.772 326 163.75C326 73.7276 253.022 0.75 163 0.75C72.9776 0.75 0 73.7276 0 163.75C0 253.772 72.9776 326.75 163 326.75Z"
						fill="#1E0B2E" />
					<path d="M163.645 279.625H317.607V47.8745H163.645C135.241 115.979 134.918 196.35 163.645 279.625Z"
						fill="url(#paint0_radial_501_13975)" />
					<path
						d="M155.898 276.72L162.031 275.107C152.993 238.633 148.474 201.192 148.474 163.427C148.474 125.663 152.993 88.2214 162.031 51.7481L155.898 50.1343C146.861 86.9303 142.342 125.017 142.342 163.105C142.342 201.837 146.861 239.924 155.898 276.72Z"
						fill="#D600FF" />
					<defs>
						<radialGradient id="paint0_radial_501_13975" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
							gradientTransform="translate(100.059 162.136) rotate(1.68469) scale(109.79 142.254)">
							<stop offset="0.3997" stop-color="#D600FF" />
							<stop offset="0.4133" stop-color="#D300FF" stop-opacity="0.9773" />
							<stop offset="0.5489" stop-color="#B900FF" stop-opacity="0.7514" />
							<stop offset="0.6893" stop-color="#A700FF" stop-opacity="0.5176" />
							<stop offset="0.8362" stop-color="#9C00FF" stop-opacity="0.2729" />
							<stop offset="1" stop-color="#9900FF" stop-opacity="0" />
						</radialGradient>
					</defs>
				</svg>
			</figure>
			<span>4</span>
		</div>


		<h1>Ошибка 404</h1>
		<p>Так уж получилось, что из множества страниц нашего сайта, Вы оказались как раз на той, которая уже не существует.
		</p>
		<a href="index.html">Вернуться на главную</a>
	</div>
</div>

{% endblock %}