= yaml =
pageTitle: Название подкаста
bodyClasses:
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}



{% block main %}

  <div block="podcasts-list" mods="single">
    <div elem="section">
      <div elem="head" class="contain">
        <a block="podcast-thumb" href="#">
          <span elem="body">
            <span elem="img-wrap">
              <span elem="img">
                <img src="img/article-thumb-img7.jpg" alt="">
              </span>
            </span>
            <span elem="content">
              <span elem="icon"><img src="img/play-icon.svg" alt=""></span>
              <span elem="name">Название подкаста</span>
              <span elem="count-edition">18 выпусков</span>
              <span elem="text">Илья Переседов и Наталья Лосева препарируют темы похудения, питания, спорта, физического здоровья и психологических
              аспектов, которые со всем этим связаны. Откровенный подкаст о том, как людям победить в войне с ожирением. Или просто
              привести тело в порядок — правильно и с удовольствием</span>
              <span elem="tags">
                <span elem="tag">#Дети</span>
                <span elem="tag">#Образование</span>
              </span>
            </span>
          </span>
        </a><!-- podcast-thumb -->
      </div>
    </div>
  </div><!-- podcasts-list -->
    
  <div block="other-podcasts">
    <div elem="section">
      <div elem="inner" class="contain">
        <div elem="items">
          <div elem="item">
            <div block="article-thumb-detailed">
              <div elem="body">
                <div elem="preview">
                  <div elem="img-wrap">
                    <a elem="img" href="#">
                      <img width="144" height="144" src="img/article-thumb-poster.png" alt="">
                    </a>
                    <div elem="icon"><img src="img/play-icon.svg" alt=""></div>
                  </div>
                  <div elem="info">
                    <div elem="name">Название подкаста</div>
                    <div elem="count-edition">3 выпуск</div>
                    <div elem="date" mods="mobile">
                      <span>23 ИЮЛЯ</span>
                      <i></i>
                      <span>18:43</span>
                      <i></i>
                      <span class="time-icon">37 мин</span>
                    </div>
                  </div>
                </div>
                <div elem="content">
                  <div elem="date">
                    <span>23 ИЮЛЯ</span>
                    <i></i>
                    <span>18:43</span>
                    <i></i>
                    <span class="time-icon">37 мин</span>
                  </div>
                  <a elem="main-name" href="#">Ученые открыли, как гены отца и матери влияют на поведение детей</a>
                  <div elem="tags">
                    <a elem="tag" href="#">#Дети</a>
                    <a elem="tag" href="#">#Образование</a>
                  </div>
                  <div elem="text">
                    <h3>
                      Что такое метавселенная
                    </h3>
                    <p>
                      Первое представление о метавселенной появилось в 1992 году в научно-фантастическом романе Нила
                      Стивенсона «Лавина». По
                      сюжету книги в XXI веке на Земле царствует корпоратократия — вся власть принадлежит крупным
                      корпорациям — и помимо
                      реального мира, который окутан хаосом и расколот на несколько государств-корпораций, существует
                      другой — виртуальный.
                      Там люди точно также взаимодействуют друг с другом. Реальный и виртуальный миры переплетены: события
                      в одном могут
                      влиять на то, что происходит в другом. Эта же книга стала источником термина «аватар».
                      Сейчас можно дать вполне четкое объяснение. Метавселенная — это конвергенция физической, дополненной
                      и виртуальной
                      реальности в общем онлайн-пространстве. Пример взаимодействия метавселенной и реального мира — фильм
                      «Первому игроку
                      приготовиться».
                    </p>
                  </div>
                  <a elem="button-more" class="button-default button-default--dark" href="#"><span>Подробнее</span></a>
                </div>
              </div>
            </div><!-- article-thumb-detailed -->
          </div>
          <div elem="item">
            <div block="article-thumb-detailed">
              <div elem="body">
                <div elem="preview">
                  <div elem="img-wrap">
                    <a elem="img" href="#">
                      <img width="144" height="144" src="img/article-thumb-poster.png" alt="">
                    </a>
                    <div elem="icon"><img src="img/play-icon.svg" alt=""></div>
                  </div>
                  <div elem="info">
                    <div elem="name">Название подкаста</div>
                    <div elem="count-edition">3 выпуск</div>
                    <div elem="date" mods="mobile">
                      <span>23 ИЮЛЯ</span>
                      <i></i>
                      <span>18:43</span>
                      <i></i>
                      <span class="time-icon">37 мин</span>
                    </div>
                  </div>
                </div>
                <div elem="content">
                  <div elem="date">
                    <span>23 ИЮЛЯ</span>
                    <i></i>
                    <span>18:43</span>
                    <i></i>
                    <span class="time-icon">37 мин</span>
                  </div>
                  <a elem="main-name" href="#">Ученые открыли, как гены отца и матери влияют на поведение детей</a>
                  <div elem="tags">
                    <a elem="tag" href="#">#Дети</a>
                    <a elem="tag" href="#">#Образование</a>
                  </div>
                  <div elem="text">
                    <h3>
                      Что такое метавселенная
                    </h3>
                    <p>
                      Первое представление о метавселенной появилось в 1992 году в научно-фантастическом романе Нила
                      Стивенсона
                      «Лавина». По
                      сюжету книги в XXI веке на Земле царствует корпоратократия — вся власть принадлежит крупным
                      корпорациям — и
                      помимо
                      реального мира, который окутан хаосом и расколот на несколько государств-корпораций, существует
                      другой —
                      виртуальный.
                      Там люди точно также взаимодействуют друг с другом. Реальный и виртуальный миры переплетены: события
                      в одном
                      могут
                      влиять на то, что происходит в другом. Эта же книга стала источником термина «аватар».
                      Сейчас можно дать вполне четкое объяснение. Метавселенная — это конвергенция физической, дополненной
                      и
                      виртуальной
                      реальности в общем онлайн-пространстве. Пример взаимодействия метавселенной и реального мира — фильм
                      «Первому игроку
                      приготовиться».
                    </p>
                  </div>
                  <a elem="button-more" class="button-default button-default--dark" href="#"><span>Подробнее</span></a>
                </div>
              </div>
            </div><!-- article-thumb-detailed -->
          </div>
          <div elem="item">
            <div block="article-thumb-detailed">
              <div elem="body">
                <div elem="preview">
                  <div elem="img-wrap">
                    <a elem="img" href="#">
                      <img width="144" height="144" src="img/article-thumb-poster.png" alt="">
                    </a>
                    <div elem="icon"><img src="img/play-icon.svg" alt=""></div>
                  </div>
                  <div elem="info">
                    <div elem="name">Название подкаста</div>
                    <div elem="count-edition">3 выпуск</div>
                    <div elem="date" mods="mobile">
                      <span>23 ИЮЛЯ</span>
                      <i></i>
                      <span>18:43</span>
                      <i></i>
                      <span class="time-icon">37 мин</span>
                    </div>
                  </div>
                </div>
                <div elem="content">
                  <div elem="date">
                    <span>23 ИЮЛЯ</span>
                    <i></i>
                    <span>18:43</span>
                    <i></i>
                    <span class="time-icon">37 мин</span>
                  </div>
                  <a elem="main-name" href="#">Ученые открыли, как гены отца и матери влияют на поведение детей</a>
                  <div elem="tags">
                    <a elem="tag" href="#">#Дети</a>
                    <a elem="tag" href="#">#Образование</a>
                  </div>
                  <div elem="text">
                    <h3>
                      Что такое метавселенная
                    </h3>
                    <p>
                      Первое представление о метавселенной появилось в 1992 году в научно-фантастическом романе Нила
                      Стивенсона
                      «Лавина». По
                      сюжету книги в XXI веке на Земле царствует корпоратократия — вся власть принадлежит крупным
                      корпорациям — и
                      помимо
                      реального мира, который окутан хаосом и расколот на несколько государств-корпораций, существует
                      другой —
                      виртуальный.
                      Там люди точно также взаимодействуют друг с другом. Реальный и виртуальный миры переплетены: события
                      в одном
                      могут
                      влиять на то, что происходит в другом. Эта же книга стала источником термина «аватар».
                      Сейчас можно дать вполне четкое объяснение. Метавселенная — это конвергенция физической, дополненной
                      и
                      виртуальной
                      реальности в общем онлайн-пространстве. Пример взаимодействия метавселенной и реального мира — фильм
                      «Первому игроку
                      приготовиться».
                    </p>
                  </div>
                  <a elem="button-more" class="button-default button-default--dark" href="#"><span>Подробнее</span></a>
                </div>
              </div>
            </div><!-- article-thumb-detailed -->
          </div>
        </div>
        <div elem="bottom">
          <button elem="button-more" class="button-default button-default--dark" type="button">
            <span>Загрузить еще</span>
          </button>
        </div>
      </div>
    </div>
  </div><!-- other-podcasts -->

{% endblock %}
